<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1</string>
		<string>2</string>
		<string>Review math subjects</string>
		<string>3</string>
		<string>2</string>
		<string>0</string>
		<string>Study chapter 1 and 2</string>
		<string>false</string>
	</array>
	<array>
		<string>1</string>
		<string>2</string>
		<string>Review geography subjects</string>
		<string>3</string>
		<string>2</string>
		<string>0</string>
		<string>Study chapter 3 and 4</string>
		<string>false</string>
	</array>
	<array>
		<string>1</string>
		<string>3</string>
		<string>Send worksheet to department X</string>
		<string>3</string>
		<string>3</string>
		<string>0</string>
		<string>Share link</string>
		<string>false</string>
	</array>
	<array>
		<string>1</string>
		<string>3</string>
		<string>Send report at 8am</string>
		<string>3</string>
		<string>3</string>
		<string>0</string>
		<string>Request email list</string>
		<string>false</string>
	</array>
	<array>
		<string>1</string>
		<string>4</string>
		<string>Rewatch french course lessons</string>
		<string>1</string>
		<string>2</string>
		<string>0</string>
		<string>Access the course website</string>
		<string>false</string>
	</array>
	<array>
		<string>5</string>
		<string>6</string>
		<string>Buying vegetables at the market</string>
		<string>1</string>
		<string>2</string>
		<string>0</string>
		<string>Marcar com os amigos</string>
		<string>false</string>
	</array>
	<array>
		<string>5</string>
		<string>6</string>
		<string>Drink water</string>
		<string>1</string>
		<string>2</string>
		<string>0</string>
		<string>At least 6 glasses</string>
		<string>false</string>
	</array>
	<array>
		<string>5</string>
		<string>7</string>
		<string>Take a walk in the park</string>
		<string>2</string>
		<string>1</string>
		<string>0</string>
		<string></string>
		<string>false</string>
	</array>
	<array>
		<string>5</string>
		<string>7</string>
		<string>Go to the gym</string>
		<string>2</string>
		<string>2</string>
		<string>0</string>
		<string>7pm</string>
		<string>false</string>
	</array>
	<array>
		<string>5</string>
		<string>8</string>
		<string>Play volleyball with the guys</string>
		<string>3</string>
		<string>3</string>
		<string>0</string>
		<string>Bring volleyball</string>
		<string>false</string>
	</array>
	<array>
		<string>9</string>
		<string>10</string>
		<string>Read school textbooks</string>
		<string>3</string>
		<string>2</string>
		<string>0</string>
		<string>Go to the library</string>
		<string>false</string>
	</array>
	<array>
		<string>9</string>
		<string>10</string>
		<string>Read Pride and Prejudice</string>
		<string>1</string>
		<string>1</string>
		<string>0</string>
		<string></string>
		<string>false</string>
	</array>
	<array>
		<string>9</string>
		<string>11</string>
		<string>Play some video games</string>
		<string>1</string>
		<string>1</string>
		<string>0</string>
		<string>Invite a friend</string>
		<string>false</string>
	</array>
	<array>
		<string>9</string>
		<string>11</string>
		<string>Paint with watercolor</string>
		<string>1</string>
		<string>1</string>
		<string>0</string>
		<string>Buy watercolor</string>
		<string>false</string>
	</array>
	<array>
		<string>9</string>
		<string>12</string>
		<string>Practice a choreography</string>
		<string>1</string>
		<string>1</string>
		<string>0</string>
		<string>Search one</string>
		<string>false</string>
	</array>
</array>
</plist>
